In [1]:
import numpy as np
import pandas as pd

In [22]:
df = pd.read_csv("/Users/mjhans/dev/gitRepo/basic_mathmatics/linearAlgebra/chicago_crime/Chicago_Crimes_2001_to_2004.csv")

print(df.head(n=5))

/Users/mjhans/dev/pythonVenv/python36_dev/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (17,20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   Unnamed: 0       ID Case Number                    Date  \
0         879  4786321    HM399414  01/01/2004 12:01:00 AM
1        2544  4676906    HM278933  03/01/2003 12:00:00 AM
2        2919  4789749    HM402220  06/20/2004 11:00:00 AM
3        2927  4789765    HM402058  12/30/2004 08:00:00 PM
4        3302  4677901    HM275615  05/01/2003 01:00:00 AM

                 Block  IUCR                Primary Type  \
0    082XX S COLES AVE  0840                       THEFT
1      004XX W 42ND PL  2825               OTHER OFFENSE
2  025XX N KIMBALL AVE  1752  OFFENSE INVOLVING CHILDREN
3   045XX W MONTANA ST  0840                       THEFT
4   111XX S NORMAL AVE  0841                       THEFT

                      Description Location Description  Arrest  \
0   FINANCIAL ID THEFT: OVER $300            RESIDENCE   False
1         HARASSMENT BY TELEPHONE            RESIDENCE   False
2   AGG CRIM SEX ABUSE FAM MEMBER            RESIDENCE   False
3   FINANCIAL ID THEFT: OVER $300                OTHER   False
4  FINANCIAL ID THEFT:$300 &UNDER            RESIDENCE   False

               ...                Ward  Community Area  FBI Code  \
0              ...                 7.0            46.0        06
1              ...                11.0            61.0        26
2              ...                35.0            22.0        20
3              ...                31.0            20.0        06
4              ...                34.0            49.0        06

   X Coordinate  Y Coordinate    Year              Updated On Latitude  \
0           NaN           NaN  2004.0  08/17/2015 03:03:40 PM      NaN
1     1173974.0   1.87676e+06  2003.0  04/15/2016 08:55:02 AM  41.8172
2           NaN           NaN  2004.0  08/17/2015 03:03:40 PM      NaN
3           NaN           NaN  2004.0  08/17/2015 03:03:40 PM      NaN
4     1174948.0   1.83105e+06  2003.0  04/15/2016 08:55:02 AM  41.6918

   Longitude                       Location
0        NaN                            NaN
1 -87.637328  (41.817229156, -87.637328162)
2        NaN                            NaN
3        NaN                            NaN
4 -87.635116  (41.691784636, -87.635115968)

[5 rows x 23 columns]

In [23]:
df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Unnamed: 0</th>
      <th>ID</th>
      <th>Case Number</th>
      <th>Date</th>
      <th>Block</th>
      <th>IUCR</th>
      <th>Primary Type</th>
      <th>Description</th>
      <th>Location Description</th>
      <th>Arrest</th>
      <th>...</th>
      <th>Ward</th>
      <th>Community Area</th>
      <th>FBI Code</th>
      <th>X Coordinate</th>
      <th>Y Coordinate</th>
      <th>Year</th>
      <th>Updated On</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Location</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>879</td>
      <td>4786321</td>
      <td>HM399414</td>
      <td>01/01/2004 12:01:00 AM</td>
      <td>082XX S COLES AVE</td>
      <td>0840</td>
      <td>THEFT</td>
      <td>FINANCIAL ID THEFT: OVER $300</td>
      <td>RESIDENCE</td>
      <td>False</td>
      <td>...</td>
      <td>7.0</td>
      <td>46.0</td>
      <td>06</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>2004.0</td>
      <td>08/17/2015 03:03:40 PM</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2544</td>
      <td>4676906</td>
      <td>HM278933</td>
      <td>03/01/2003 12:00:00 AM</td>
      <td>004XX W 42ND PL</td>
      <td>2825</td>
      <td>OTHER OFFENSE</td>
      <td>HARASSMENT BY TELEPHONE</td>
      <td>RESIDENCE</td>
      <td>False</td>
      <td>...</td>
      <td>11.0</td>
      <td>61.0</td>
      <td>26</td>
      <td>1173974.0</td>
      <td>1.87676e+06</td>
      <td>2003.0</td>
      <td>04/15/2016 08:55:02 AM</td>
      <td>41.8172</td>
      <td>-87.637328</td>
      <td>(41.817229156, -87.637328162)</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2919</td>
      <td>4789749</td>
      <td>HM402220</td>
      <td>06/20/2004 11:00:00 AM</td>
      <td>025XX N KIMBALL AVE</td>
      <td>1752</td>
      <td>OFFENSE INVOLVING CHILDREN</td>
      <td>AGG CRIM SEX ABUSE FAM MEMBER</td>
      <td>RESIDENCE</td>
      <td>False</td>
      <td>...</td>
      <td>35.0</td>
      <td>22.0</td>
      <td>20</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>2004.0</td>
      <td>08/17/2015 03:03:40 PM</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2927</td>
      <td>4789765</td>
      <td>HM402058</td>
      <td>12/30/2004 08:00:00 PM</td>
      <td>045XX W MONTANA ST</td>
      <td>0840</td>
      <td>THEFT</td>
      <td>FINANCIAL ID THEFT: OVER $300</td>
      <td>OTHER</td>
      <td>False</td>
      <td>...</td>
      <td>31.0</td>
      <td>20.0</td>
      <td>06</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>2004.0</td>
      <td>08/17/2015 03:03:40 PM</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4</th>
      <td>3302</td>
      <td>4677901</td>
      <td>HM275615</td>
      <td>05/01/2003 01:00:00 AM</td>
      <td>111XX S NORMAL AVE</td>
      <td>0841</td>
      <td>THEFT</td>
      <td>FINANCIAL ID THEFT:$300 &amp;UNDER</td>
      <td>RESIDENCE</td>
      <td>False</td>
      <td>...</td>
      <td>34.0</td>
      <td>49.0</td>
      <td>06</td>
      <td>1174948.0</td>
      <td>1.83105e+06</td>
      <td>2003.0</td>
      <td>04/15/2016 08:55:02 AM</td>
      <td>41.6918</td>
      <td>-87.635116</td>
      <td>(41.691784636, -87.635115968)</td>
    </tr>
  </tbody>
</table>
<p>5 rows Ã— 23 columns</p>
</div>